*{
    padding: 0;
    margin: 0;
}
.navBarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
}
ul a{
    color: black;
    text-decoration: none;
}
img{
    width: 300px;
    height: 360px;
}
.productContainer{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.products{
    overflow: hidden;
    width: 300px;
}